<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Run program">
    <action name="Execute"><execute>gmrun</execute></action>
  </item>
  <separator />
  <item label="Terminal emulator">
    <action name="Execute"><execute>lxterminal</execute></action>
  </item>
  <item label="Web browser">
    <action name="Execute"><execute>netsurf-gtk</execute></action>
  </item>
  <item label="File manager">
    <action name="Execute"><execute>pcmanfm</execute></action>
  </item>
  <item label="TIC-80">
    <action name="Execute"><execute>tic80</execute></action>
  </item>
  <!-- This requires the presence of the 'obamenu' package to work -->
  <menu id="/Debian" />
  <separator />
  <menu id="applications-menu" label="Applications" execute="/usr/bin/obamenu"/>
  <separator />
  <menu id="obConfig" label="Openbox">
    <item label="Edit menu.xml">
      <action name="Execute">
        <execute>geany ~/.config/openbox/menu.xml</execute>
      </action>
    </item>
    <item label="Edit rc.xml">
      <action name="Execute">
        <execute>geany ~/.config/openbox/rc.xml</execute>
      </action>
    </item>
    <item label="Edit autostart">
      <action name="Execute">
        <execute>geany ~/.config/openbox/autostart</execute>
      </action>
    </item>
    <separator />
    <item label="GUI Config Tool">
      <action name="Execute">
        <execute>obconf</execute>
      </action>
    </item>
    <separator />
    <item label="Reconfigure">
      <action name="Reconfigure" />
    </item>
    <item label="Restart">
      <action name="Restart" />
    </item>
  </menu>
  <separator />
  <item label="Exit">
    <action name="Execute">
      <execute>chip-exit</execute>
    </action>
  </item>
</menu>

</openbox_menu>
